:root {
    --mikado-yellow: #fec601; /*backgroud*/
    --princeton-orange: #ea7317; /*contraste*/
    --cultured: #f2f4f3; /*branco*/
    --rich-black-frogra-39: #0a0908; /*preto*/
    --nickel: #646e68; /*cinza*/
}
